.navbar {
  background: #ffffff;
  margin: 0px 10px;
  padding: 15px 40px;
  border-radius: 50px;
  border: 1px solid #7f8c8d;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.navbar ul {
  display: flex;
  justify-content: flex-end; 
  gap: 40px;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar li {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  position: relative;
}

.navbar .active {
  color: #000;
  font-weight: 600;
}

.navbar .active::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #2962ff; 
  border-radius: 5px 5px 0 0;
}

